USE [master]
GO
/****** Object:  Database [RRHH]    Script Date: 2/4/2026 4:10:58 PM ******/
CREATE DATABASE [RRHH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RRHH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RRHH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RRHH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RRHH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RRHH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RRHH]
GO
/****** Object:  Schema [rrhh]    Script Date: 2/4/2026 4:10:58 PM ******/
CREATE SCHEMA [rrhh]
GO
/****** Object:  Table [rrhh].[adjuntos_solicitud]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[adjuntos_solicitud](
	[id_adjunto] [int] IDENTITY(1,1) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[nombre_archivo] [nvarchar](260) NOT NULL,
	[ruta_archivo] [nvarchar](500) NOT NULL,
	[hash_sha256] [char](64) NULL,
	[tipo] [nvarchar](40) NULL,
	[fecha_carga] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adjunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[alertas_ajuste]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[alertas_ajuste](
	[id_alerta] [bigint] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](40) NOT NULL,
	[id_empleado] [int] NULL,
	[id_solicitud] [int] NULL,
	[mensaje] [nvarchar](400) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[creado_en] [datetime2](7) NOT NULL,
	[resuelto_en] [datetime2](7) NULL,
	[resuelto_por] [int] NULL,
	[resolucion] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[aprobaciones_solicitud]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[aprobaciones_solicitud](
	[id_aprobacion] [int] IDENTITY(1,1) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[paso] [int] NOT NULL,
	[rol_aprobador] [nvarchar](30) NOT NULL,
	[id_usuario_aprueba] [int] NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha] [datetime2](7) NULL,
	[comentario] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aprobacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[areas]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[areas](
	[id_area] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[id_area_padre] [int] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[asignaciones_turno]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[asignaciones_turno](
	[id_asignacion] [int] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[id_turno] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[origen] [nvarchar](20) NOT NULL,
	[id_solicitud] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[asistencia_ajustes]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[asistencia_ajustes](
	[id_ajuste] [bigint] IDENTITY(1,1) NOT NULL,
	[id_asistencia] [bigint] NOT NULL,
	[hora_entrada_nueva] [time](0) NULL,
	[hora_salida_nueva] [time](0) NULL,
	[motivo] [nvarchar](200) NOT NULL,
	[comentario] [nvarchar](300) NULL,
	[creado_en] [datetime2](7) NOT NULL,
	[creado_por] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ajuste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[asistencia_diaria]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[asistencia_diaria](
	[id_asistencia] [bigint] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora_entrada] [time](0) NULL,
	[hora_salida] [time](0) NULL,
	[fuente] [nvarchar](20) NOT NULL,
	[id_importacion] [int] NULL,
	[observacion] [nvarchar](300) NULL,
	[creado_en] [datetime2](7) NOT NULL,
	[creado_por] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_asistencia] UNIQUE NONCLUSTERED 
(
	[id_empleado] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[auditoria]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[auditoria](
	[id_auditoria] [bigint] IDENTITY(1,1) NOT NULL,
	[entidad] [nvarchar](120) NOT NULL,
	[id_entidad] [nvarchar](60) NOT NULL,
	[accion] [nvarchar](40) NOT NULL,
	[id_usuario] [int] NULL,
	[fecha] [datetime2](7) NOT NULL,
	[detalle_json] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[cargos]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[cargos](
	[id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[chequera_politicas]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[chequera_politicas](
	[id_politica] [int] IDENTITY(1,1) NOT NULL,
	[grupo] [nvarchar](20) NOT NULL,
	[anio] [int] NOT NULL,
	[cupo_medios_turnos] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_politica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_pol] UNIQUE NONCLUSTERED 
(
	[grupo] ASC,
	[anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[chequera_saldos]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[chequera_saldos](
	[id_saldo] [bigint] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[anio] [int] NOT NULL,
	[cupo_medios_turnos] [int] NOT NULL,
	[consumidos_medios_turnos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_saldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_cs] UNIQUE NONCLUSTERED 
(
	[id_empleado] ASC,
	[anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[chequera_usos]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[chequera_usos](
	[id_uso] [bigint] IDENTITY(1,1) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[jornada] [nvarchar](5) NOT NULL,
	[medios_turnos] [int] NOT NULL,
	[complemento] [nvarchar](20) NULL,
	[motivo] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_uso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[empleados]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[empleados](
	[id_empleado] [int] IDENTITY(1,1) NOT NULL,
	[identificacion] [nvarchar](30) NOT NULL,
	[nombres] [nvarchar](120) NOT NULL,
	[apellidos] [nvarchar](120) NOT NULL,
	[correo] [nvarchar](160) NULL,
	[id_area] [int] NULL,
	[id_cargo] [int] NULL,
	[activo] [bit] NOT NULL,
	[id_usuario] [int] NULL,
	[grupo] [nvarchar](20) NOT NULL,
	[habilitado_ttc_jefe] [bit] NOT NULL,
	[habilitado_ttc_rrhh] [bit] NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[creado_en] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[identificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[festivos]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[festivos](
	[fecha] [date] NOT NULL,
	[descripcion] [nvarchar](200) NOT NULL,
	[anio] [int] NOT NULL,
	[origen] [nvarchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[importaciones]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[importaciones](
	[id_importacion] [int] IDENTITY(1,1) NOT NULL,
	[modulo] [nvarchar](40) NOT NULL,
	[nombre_archivo] [nvarchar](260) NOT NULL,
	[hash_sha256] [char](64) NOT NULL,
	[periodo_desde] [date] NULL,
	[periodo_hasta] [date] NULL,
	[importado_en] [datetime2](7) NOT NULL,
	[id_usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_importacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_imp] UNIQUE NONCLUSTERED 
(
	[modulo] ASC,
	[hash_sha256] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[importaciones_detalle]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[importaciones_detalle](
	[id_detalle] [bigint] IDENTITY(1,1) NOT NULL,
	[id_importacion] [int] NOT NULL,
	[fila_numero] [int] NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[mensaje] [nvarchar](400) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[incapacidades]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[incapacidades](
	[id_incapacidad] [bigint] IDENTITY(1,1) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NOT NULL,
	[tipo] [nvarchar](60) NOT NULL,
	[arl] [nvarchar](120) NULL,
	[dias] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_incapacidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[jefaturas]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[jefaturas](
	[id_jefatura] [int] IDENTITY(1,1) NOT NULL,
	[id_jefe] [int] NOT NULL,
	[id_colaborador] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[activo]  AS (case when [fecha_fin] IS NULL then (1) else (0) end) PERSISTED NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_jefatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_jefatura] UNIQUE NONCLUSTERED 
(
	[id_jefe] ASC,
	[id_colaborador] ASC,
	[fecha_inicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[planeacion_cabina]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[planeacion_cabina](
	[id_plan] [bigint] IDENTITY(1,1) NOT NULL,
	[anio] [int] NOT NULL,
	[mes] [int] NOT NULL,
	[id_empleado] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[id_turno] [int] NOT NULL,
	[horas_extras] [decimal](5, 2) NOT NULL,
	[creado_en] [datetime2](7) NOT NULL,
	[creado_por] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_plan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_pc] UNIQUE NONCLUSTERED 
(
	[id_empleado] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[roles]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](60) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[solicitudes]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[solicitudes](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](40) NOT NULL,
	[id_solicitante] [int] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[estado] [nvarchar](30) NOT NULL,
	[comentario] [nvarchar](400) NULL,
	[datos_json] [nvarchar](max) NULL,
	[fecha_aplicacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[teletrabajo_dias]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[teletrabajo_dias](
	[id_tt_dia] [bigint] IDENTITY(1,1) NOT NULL,
	[id_solicitud] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[jornada] [nvarchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tt_dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[turnos]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[turnos](
	[id_turno] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](30) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[grupo] [nvarchar](20) NOT NULL,
	[hora_inicio] [time](0) NOT NULL,
	[hora_fin] [time](0) NOT NULL,
	[duracion_horas] [decimal](5, 2) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[usuario_roles]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[usuario_roles](
	[id_usuario] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
 CONSTRAINT [pk_usuario_roles] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[usuarios]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario_ldap] [nvarchar](120) NOT NULL,
	[correo] [nvarchar](160) NULL,
	[activo] [bit] NOT NULL,
	[creado_en] [datetime2](7) NOT NULL,
	[ultimo_login_en] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario_ldap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[vacaciones_saldos]    Script Date: 2/4/2026 4:10:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[vacaciones_saldos](
	[id_saldo] [bigint] IDENTITY(1,1) NOT NULL,
	[id_empleado] [int] NOT NULL,
	[fecha_corte] [date] NOT NULL,
	[dias_pendientes] [decimal](7, 2) NOT NULL,
	[id_importacion] [int] NOT NULL,
	[actualizado_en] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_saldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_ap_pend]    Script Date: 2/4/2026 4:10:58 PM ******/
CREATE NONCLUSTERED INDEX [ix_ap_pend] ON [rrhh].[aprobaciones_solicitud]
(
	[estado] ASC,
	[rol_aprobador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ix_as_fecha]    Script Date: 2/4/2026 4:10:58 PM ******/
CREATE NONCLUSTERED INDEX [ix_as_fecha] ON [rrhh].[asistencia_diaria]
(
	[fecha] ASC,
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ix_sol_estado]    Script Date: 2/4/2026 4:10:58 PM ******/
CREATE NONCLUSTERED INDEX [ix_sol_estado] ON [rrhh].[solicitudes]
(
	[estado] ASC,
	[tipo] ASC,
	[fecha_creacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [rrhh].[adjuntos_solicitud] ADD  DEFAULT (sysdatetime()) FOR [fecha_carga]
GO
ALTER TABLE [rrhh].[alertas_ajuste] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [rrhh].[alertas_ajuste] ADD  DEFAULT (sysdatetime()) FOR [creado_en]
GO
ALTER TABLE [rrhh].[areas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[asistencia_ajustes] ADD  DEFAULT (sysdatetime()) FOR [creado_en]
GO
ALTER TABLE [rrhh].[asistencia_diaria] ADD  DEFAULT (sysdatetime()) FOR [creado_en]
GO
ALTER TABLE [rrhh].[auditoria] ADD  DEFAULT (sysdatetime()) FOR [fecha]
GO
ALTER TABLE [rrhh].[cargos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[chequera_politicas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[chequera_saldos] ADD  DEFAULT ((0)) FOR [consumidos_medios_turnos]
GO
ALTER TABLE [rrhh].[empleados] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[empleados] ADD  DEFAULT ('ADMIN') FOR [grupo]
GO
ALTER TABLE [rrhh].[empleados] ADD  DEFAULT ((0)) FOR [habilitado_ttc_jefe]
GO
ALTER TABLE [rrhh].[empleados] ADD  DEFAULT ((0)) FOR [habilitado_ttc_rrhh]
GO
ALTER TABLE [rrhh].[empleados] ADD  DEFAULT (sysdatetime()) FOR [creado_en]
GO
ALTER TABLE [rrhh].[festivos] ADD  DEFAULT ('AUTO') FOR [origen]
GO
ALTER TABLE [rrhh].[festivos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[importaciones] ADD  DEFAULT (sysdatetime()) FOR [importado_en]
GO
ALTER TABLE [rrhh].[planeacion_cabina] ADD  DEFAULT ((0)) FOR [horas_extras]
GO
ALTER TABLE [rrhh].[planeacion_cabina] ADD  DEFAULT (sysdatetime()) FOR [creado_en]
GO
ALTER TABLE [rrhh].[roles] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[solicitudes] ADD  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [rrhh].[turnos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[usuarios] ADD  DEFAULT (sysdatetime()) FOR [creado_en]
GO
ALTER TABLE [rrhh].[vacaciones_saldos] ADD  DEFAULT (sysdatetime()) FOR [actualizado_en]
GO
ALTER TABLE [rrhh].[adjuntos_solicitud]  WITH CHECK ADD  CONSTRAINT [fk_adj_sol] FOREIGN KEY([id_solicitud])
REFERENCES [rrhh].[solicitudes] ([id_solicitud])
GO
ALTER TABLE [rrhh].[adjuntos_solicitud] CHECK CONSTRAINT [fk_adj_sol]
GO
ALTER TABLE [rrhh].[alertas_ajuste]  WITH CHECK ADD  CONSTRAINT [fk_al_emp] FOREIGN KEY([id_empleado])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[alertas_ajuste] CHECK CONSTRAINT [fk_al_emp]
GO
ALTER TABLE [rrhh].[alertas_ajuste]  WITH CHECK ADD  CONSTRAINT [fk_al_sol] FOREIGN KEY([id_solicitud])
REFERENCES [rrhh].[solicitudes] ([id_solicitud])
GO
ALTER TABLE [rrhh].[alertas_ajuste] CHECK CONSTRAINT [fk_al_sol]
GO
ALTER TABLE [rrhh].[alertas_ajuste]  WITH CHECK ADD  CONSTRAINT [fk_al_usr] FOREIGN KEY([resuelto_por])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[alertas_ajuste] CHECK CONSTRAINT [fk_al_usr]
GO
ALTER TABLE [rrhh].[aprobaciones_solicitud]  WITH CHECK ADD  CONSTRAINT [fk_ap_sol] FOREIGN KEY([id_solicitud])
REFERENCES [rrhh].[solicitudes] ([id_solicitud])
GO
ALTER TABLE [rrhh].[aprobaciones_solicitud] CHECK CONSTRAINT [fk_ap_sol]
GO
ALTER TABLE [rrhh].[aprobaciones_solicitud]  WITH CHECK ADD  CONSTRAINT [fk_ap_usr] FOREIGN KEY([id_usuario_aprueba])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[aprobaciones_solicitud] CHECK CONSTRAINT [fk_ap_usr]
GO
ALTER TABLE [rrhh].[asignaciones_turno]  WITH CHECK ADD  CONSTRAINT [fk_at_emp] FOREIGN KEY([id_empleado])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[asignaciones_turno] CHECK CONSTRAINT [fk_at_emp]
GO
ALTER TABLE [rrhh].[asignaciones_turno]  WITH CHECK ADD  CONSTRAINT [fk_at_turn] FOREIGN KEY([id_turno])
REFERENCES [rrhh].[turnos] ([id_turno])
GO
ALTER TABLE [rrhh].[asignaciones_turno] CHECK CONSTRAINT [fk_at_turn]
GO
ALTER TABLE [rrhh].[asistencia_ajustes]  WITH CHECK ADD  CONSTRAINT [fk_aj_as] FOREIGN KEY([id_asistencia])
REFERENCES [rrhh].[asistencia_diaria] ([id_asistencia])
GO
ALTER TABLE [rrhh].[asistencia_ajustes] CHECK CONSTRAINT [fk_aj_as]
GO
ALTER TABLE [rrhh].[asistencia_ajustes]  WITH CHECK ADD  CONSTRAINT [fk_aj_usr] FOREIGN KEY([creado_por])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[asistencia_ajustes] CHECK CONSTRAINT [fk_aj_usr]
GO
ALTER TABLE [rrhh].[asistencia_diaria]  WITH CHECK ADD  CONSTRAINT [fk_as_emp] FOREIGN KEY([id_empleado])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[asistencia_diaria] CHECK CONSTRAINT [fk_as_emp]
GO
ALTER TABLE [rrhh].[asistencia_diaria]  WITH CHECK ADD  CONSTRAINT [fk_as_imp] FOREIGN KEY([id_importacion])
REFERENCES [rrhh].[importaciones] ([id_importacion])
GO
ALTER TABLE [rrhh].[asistencia_diaria] CHECK CONSTRAINT [fk_as_imp]
GO
ALTER TABLE [rrhh].[asistencia_diaria]  WITH CHECK ADD  CONSTRAINT [fk_as_usr] FOREIGN KEY([creado_por])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[asistencia_diaria] CHECK CONSTRAINT [fk_as_usr]
GO
ALTER TABLE [rrhh].[auditoria]  WITH CHECK ADD  CONSTRAINT [fk_aud_usr] FOREIGN KEY([id_usuario])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[auditoria] CHECK CONSTRAINT [fk_aud_usr]
GO
ALTER TABLE [rrhh].[chequera_saldos]  WITH CHECK ADD  CONSTRAINT [fk_cs_emp] FOREIGN KEY([id_empleado])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[chequera_saldos] CHECK CONSTRAINT [fk_cs_emp]
GO
ALTER TABLE [rrhh].[chequera_usos]  WITH CHECK ADD  CONSTRAINT [fk_cu_sol] FOREIGN KEY([id_solicitud])
REFERENCES [rrhh].[solicitudes] ([id_solicitud])
GO
ALTER TABLE [rrhh].[chequera_usos] CHECK CONSTRAINT [fk_cu_sol]
GO
ALTER TABLE [rrhh].[empleados]  WITH CHECK ADD  CONSTRAINT [fk_emp_area] FOREIGN KEY([id_area])
REFERENCES [rrhh].[areas] ([id_area])
GO
ALTER TABLE [rrhh].[empleados] CHECK CONSTRAINT [fk_emp_area]
GO
ALTER TABLE [rrhh].[empleados]  WITH CHECK ADD  CONSTRAINT [fk_emp_cargo] FOREIGN KEY([id_cargo])
REFERENCES [rrhh].[cargos] ([id_cargo])
GO
ALTER TABLE [rrhh].[empleados] CHECK CONSTRAINT [fk_emp_cargo]
GO
ALTER TABLE [rrhh].[empleados]  WITH CHECK ADD  CONSTRAINT [fk_emp_usuario] FOREIGN KEY([id_usuario])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[empleados] CHECK CONSTRAINT [fk_emp_usuario]
GO
ALTER TABLE [rrhh].[importaciones]  WITH CHECK ADD  CONSTRAINT [fk_imp_usr] FOREIGN KEY([id_usuario])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[importaciones] CHECK CONSTRAINT [fk_imp_usr]
GO
ALTER TABLE [rrhh].[importaciones_detalle]  WITH CHECK ADD  CONSTRAINT [fk_impd_imp] FOREIGN KEY([id_importacion])
REFERENCES [rrhh].[importaciones] ([id_importacion])
GO
ALTER TABLE [rrhh].[importaciones_detalle] CHECK CONSTRAINT [fk_impd_imp]
GO
ALTER TABLE [rrhh].[incapacidades]  WITH CHECK ADD  CONSTRAINT [fk_inc_emp] FOREIGN KEY([id_empleado])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[incapacidades] CHECK CONSTRAINT [fk_inc_emp]
GO
ALTER TABLE [rrhh].[incapacidades]  WITH CHECK ADD  CONSTRAINT [fk_inc_sol] FOREIGN KEY([id_solicitud])
REFERENCES [rrhh].[solicitudes] ([id_solicitud])
GO
ALTER TABLE [rrhh].[incapacidades] CHECK CONSTRAINT [fk_inc_sol]
GO
ALTER TABLE [rrhh].[jefaturas]  WITH CHECK ADD  CONSTRAINT [fk_jef_colaborador] FOREIGN KEY([id_colaborador])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[jefaturas] CHECK CONSTRAINT [fk_jef_colaborador]
GO
ALTER TABLE [rrhh].[jefaturas]  WITH CHECK ADD  CONSTRAINT [fk_jef_jefe] FOREIGN KEY([id_jefe])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[jefaturas] CHECK CONSTRAINT [fk_jef_jefe]
GO
ALTER TABLE [rrhh].[planeacion_cabina]  WITH CHECK ADD  CONSTRAINT [fk_pc_emp] FOREIGN KEY([id_empleado])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[planeacion_cabina] CHECK CONSTRAINT [fk_pc_emp]
GO
ALTER TABLE [rrhh].[planeacion_cabina]  WITH CHECK ADD  CONSTRAINT [fk_pc_turn] FOREIGN KEY([id_turno])
REFERENCES [rrhh].[turnos] ([id_turno])
GO
ALTER TABLE [rrhh].[planeacion_cabina] CHECK CONSTRAINT [fk_pc_turn]
GO
ALTER TABLE [rrhh].[planeacion_cabina]  WITH CHECK ADD  CONSTRAINT [fk_pc_usr] FOREIGN KEY([creado_por])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[planeacion_cabina] CHECK CONSTRAINT [fk_pc_usr]
GO
ALTER TABLE [rrhh].[solicitudes]  WITH CHECK ADD  CONSTRAINT [fk_sol_solicitante] FOREIGN KEY([id_solicitante])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[solicitudes] CHECK CONSTRAINT [fk_sol_solicitante]
GO
ALTER TABLE [rrhh].[teletrabajo_dias]  WITH CHECK ADD  CONSTRAINT [fk_tt_sol] FOREIGN KEY([id_solicitud])
REFERENCES [rrhh].[solicitudes] ([id_solicitud])
GO
ALTER TABLE [rrhh].[teletrabajo_dias] CHECK CONSTRAINT [fk_tt_sol]
GO
ALTER TABLE [rrhh].[usuario_roles]  WITH CHECK ADD  CONSTRAINT [fk_ur_rol] FOREIGN KEY([id_rol])
REFERENCES [rrhh].[roles] ([id_rol])
GO
ALTER TABLE [rrhh].[usuario_roles] CHECK CONSTRAINT [fk_ur_rol]
GO
ALTER TABLE [rrhh].[usuario_roles]  WITH CHECK ADD  CONSTRAINT [fk_ur_usuario] FOREIGN KEY([id_usuario])
REFERENCES [rrhh].[usuarios] ([id_usuario])
GO
ALTER TABLE [rrhh].[usuario_roles] CHECK CONSTRAINT [fk_ur_usuario]
GO
ALTER TABLE [rrhh].[vacaciones_saldos]  WITH CHECK ADD  CONSTRAINT [fk_vs_emp] FOREIGN KEY([id_empleado])
REFERENCES [rrhh].[empleados] ([id_empleado])
GO
ALTER TABLE [rrhh].[vacaciones_saldos] CHECK CONSTRAINT [fk_vs_emp]
GO
ALTER TABLE [rrhh].[vacaciones_saldos]  WITH CHECK ADD  CONSTRAINT [fk_vs_imp] FOREIGN KEY([id_importacion])
REFERENCES [rrhh].[importaciones] ([id_importacion])
GO
ALTER TABLE [rrhh].[vacaciones_saldos] CHECK CONSTRAINT [fk_vs_imp]
GO
ALTER TABLE [rrhh].[alertas_ajuste]  WITH CHECK ADD CHECK  (([estado]='AJUSTADA' OR [estado]='RECHAZADA' OR [estado]='APROBADA' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [rrhh].[alertas_ajuste]  WITH CHECK ADD CHECK  (([tipo]='CHEQUERA' OR [tipo]='ASISTENCIA' OR [tipo]='VACACIONES_SALDO'))
GO
ALTER TABLE [rrhh].[aprobaciones_solicitud]  WITH CHECK ADD CHECK  (([estado]='RECHAZADA' OR [estado]='APROBADA' OR [estado]='PENDIENTE'))
GO
ALTER TABLE [rrhh].[aprobaciones_solicitud]  WITH CHECK ADD CHECK  (([rol_aprobador]='RRHH' OR [rol_aprobador]='JEFE'))
GO
ALTER TABLE [rrhh].[aprobaciones_solicitud]  WITH CHECK ADD CHECK  (([paso]=(2) OR [paso]=(1)))
GO
ALTER TABLE [rrhh].[asignaciones_turno]  WITH CHECK ADD CHECK  (([origen]='IMPORT' OR [origen]='SOLICITUD' OR [origen]='RRHH'))
GO
ALTER TABLE [rrhh].[asistencia_diaria]  WITH CHECK ADD CHECK  (([fuente]='MANUAL' OR [fuente]='IMPORT'))
GO
ALTER TABLE [rrhh].[auditoria]  WITH CHECK ADD  CONSTRAINT [ck_aud_json] CHECK  (([detalle_json] IS NULL OR isjson([detalle_json])>(0)))
GO
ALTER TABLE [rrhh].[auditoria] CHECK CONSTRAINT [ck_aud_json]
GO
ALTER TABLE [rrhh].[chequera_politicas]  WITH CHECK ADD CHECK  (([grupo]='CABINA' OR [grupo]='ADMIN'))
GO
ALTER TABLE [rrhh].[chequera_usos]  WITH CHECK ADD CHECK  (([complemento] IS NULL OR [complemento]='TELETRABAJO'))
GO
ALTER TABLE [rrhh].[chequera_usos]  WITH CHECK ADD CHECK  (([jornada]='PM' OR [jornada]='AM'))
GO
ALTER TABLE [rrhh].[chequera_usos]  WITH CHECK ADD CHECK  (([medios_turnos]=(1)))
GO
ALTER TABLE [rrhh].[empleados]  WITH CHECK ADD CHECK  (([grupo]='CABINA' OR [grupo]='ADMIN'))
GO
ALTER TABLE [rrhh].[festivos]  WITH CHECK ADD CHECK  (([origen]='MANUAL' OR [origen]='AUTO'))
GO
ALTER TABLE [rrhh].[importaciones]  WITH CHECK ADD CHECK  (([modulo]='CHEQUERA' OR [modulo]='CUMPLEANOS' OR [modulo]='TURNOS' OR [modulo]='VACACIONES' OR [modulo]='ASISTENCIA'))
GO
ALTER TABLE [rrhh].[importaciones_detalle]  WITH CHECK ADD CHECK  (([estado]='ERROR' OR [estado]='DUPLICADO' OR [estado]='OK'))
GO
ALTER TABLE [rrhh].[planeacion_cabina]  WITH CHECK ADD CHECK  (([mes]>=(1) AND [mes]<=(12)))
GO
ALTER TABLE [rrhh].[solicitudes]  WITH CHECK ADD CHECK  (([estado]='ANULADA' OR [estado]='APLICADA' OR [estado]='APROBADA_RRHH' OR [estado]='RECHAZADA_RRHH' OR [estado]='AVALADA_JEFE' OR [estado]='RECHAZADA_JEFE' OR [estado]='ENVIADA'))
GO
ALTER TABLE [rrhh].[solicitudes]  WITH CHECK ADD CHECK  (([tipo]='HORA_FLEX_MENSUAL' OR [tipo]='CHEQUERA' OR [tipo]='INCAPACIDAD' OR [tipo]='VACACIONES' OR [tipo]='TELETRABAJO' OR [tipo]='CABINA_PLAN' OR [tipo]='HORARIO_FLEX'))
GO
ALTER TABLE [rrhh].[solicitudes]  WITH CHECK ADD  CONSTRAINT [ck_sol_json] CHECK  (([datos_json] IS NULL OR isjson([datos_json])>(0)))
GO
ALTER TABLE [rrhh].[solicitudes] CHECK CONSTRAINT [ck_sol_json]
GO
ALTER TABLE [rrhh].[teletrabajo_dias]  WITH CHECK ADD CHECK  (([jornada]='PM' OR [jornada]='AM' OR [jornada]='C'))
GO
ALTER TABLE [rrhh].[turnos]  WITH CHECK ADD CHECK  (([grupo]='CABINA' OR [grupo]='ADMIN'))
GO
USE [master]
GO
